/*
Colors used:
beige............. #EEE9DC
lighter beige..... #EFEBE0
dark red.......... #D54B1A
vivid red......... #E32F21
night black....... #181619
gray.............. #C7C7C7
dark emerald blue. #058486
black............. #000000
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #EFEBE0;
  font-family: 'Cantarell', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.00em;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
  color: #D54B1A;
}

h2 {
  font-size: 1.60em;
  font-weight: 500;
  font-family: 'Roboto Mono', sans-serif;
  color: #D54B1A;
}

h3 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.20em;
  font-weight: 300;
}

img {
  width: 100%;
}

a {
  color: #058486;
}

a:visited {
  color: #181619;
}

a:hover {
  color: #D54B1A;
  text-decoration: underline;
  text-decoration: none;
}

a:focus {
  color: #D54B1A;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #E32F21;
}

.button {
  display: inline-block;
  background-color: #058486;
  color: #FFFFFF;
  font-weight: 500;
  padding: 16px;
  border-radius: 3px;
  border-bottom: 2px solid #181619;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  background: #D54B1A;
  color: #FFFFFF;
}

.button:active {
  /* selected link */
  color: #E32F21;
}

.button:focus {
  color: #D54B1A;
}

/* Layout styling________________________ */
header {
  background-color: #EEE9DC;
  padding: 0;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 9px 17px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 9px 17px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 9px 17px 0px rgba(50, 50, 50, 0.5);
  position: fixed;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 300;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 12px 0;
  border-top: 1px solid #058789;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 180px;
}

.container {
  padding: 0 15px;
}

#about-picture {
  height: auto;
  width: auto;
}

@keyframes color-change {

  /* color of the sun */
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

footer {
  margin-top: 100px;
  background-color: #EEE9DC;
  padding: 60px 0;
  text-align: center;
  font-family: 'Cantarell', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #000000;
  -webkit-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.53);
  -moz-box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.53);
  box-shadow: 0px -1px 7px 0px rgba(50, 50, 50, 0.53);
}

footer svg {
  width: 60px;
  height: auto;
}

/*  ...................... ;*/
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 0 0;
    margin: 0 auto;
    display: block;
  }

  .col-md-6 {
    width: 47%;
    padding-right: 1.5%;
  }

  .col-lg-7 {
    width: 57%;
    padding-right: 1.5%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  [class*="col-"] {
    float: left;
  }

  .container .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .navtoggle.responsive nav {
    padding: 0px 0 0;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle.responsive li {
    padding: 0px 15px;
    border-top: 0px solid rgb(79, 122, 165);
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}
